<h1>Card Update Success</h1>

<p>
  You have successfully updated the card information.
</p>
<p>
  You may fetch this call from <%= chargify.base_uri %>/calls/<%= @call.id %> using your API V2 credentials.  See
  <a href="https://developer.chargify.com/content/chargify-direct/overview.html#fetching-the-call">
    https://developer.chargify.com/content/chargify-direct/overview.html#fetching-the-call
  </a> for details.
</p>