<!doctype html>
<head>
  <title>Chargify Direct Example</title>

  <meta charset="utf-8">

  <meta name="description" content="Chargify Direct Example">
  <meta name="author" content="Michael Klett">
  
  <style type="text/css" media="screen">
    div.errors {
      border: 1px solid red;
      padding: 0 15px;
    }
    
    div.errors p, div.errors ul {
      margin: 1em 0;
    }
    
    div.errors p, div.errors li {
      color: red;
    }
  </style>
</head>

<body>
  <% unless params[:message].nil? %>
    <p style="color:#ff0000"><%= params[:message] %></p>
  <% end %>
  <%= yield %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
</body>
</html>
