<h1>Verification Error</h1>

<p>
  The previous signup attempt encountered an error during verification.  This means that we cannot be 100%
  sure if the signup was successful or not.
</p>

<p>
  You can try contacting us or <a href="/">signing up</a> again.
</p>